<form [formGroup]="dataSelectorForm" (ngSubmit)="searchData()">
	<label>
		Themen
		<ul formArrayName="themen">
			<li *ngFor="let thema of getControls('themen').controls; let i = index">
				<label> <input type="checkbox" [formControlName]="i" /> {{ themen[i] }} </label>
			</li>
		</ul>
	</label>
	<label>
		Gremium
		<select name="gremium" id="gremium-select" formControlName="gremium">
			<option value="" disabled>-- Bitte wählen --</option>
			<option *ngFor="let gremium of gremien" [value]="gremium">
				{{ gremium | translateEnum : filterGroups.gremium }}
			</option>
		</select>
	</label>
	<label>
		Gesetzgebungsperiode
		<ul formArrayName="periode">
			<li *ngFor="let thema of getControls('periode').controls; let i = index">
				<label>
					<input type="checkbox" [formControlName]="i" /> {{ periode[i] | translateEnum : filterGroups.periode }}
				</label>
			</li>
		</ul>
	</label>

	<label>
		Regierungen
		<ul formArrayName="regierungen">
			<li *ngFor="let thema of getControls('regierungen').controls; let i = index">
				<label> <input type="checkbox" [formControlName]="i" /> {{ regierungen[i] }} </label>
			</li>
		</ul>
	</label>

	<label>
		Gegenstand
		<ul formArrayName="gegenstand">
			<li *ngFor="let thema of getControls('gegenstand').controls; let i = index">
				<label>
					<input type="checkbox" [formControlName]="i" /> {{ gegenstand[i] | translateEnum : filterGroups.gegenstand }}
				</label>
			</li>
		</ul>
	</label>

	<label>
		Klub / Fraktion
		<ul formArrayName="fraktion">
			<li *ngFor="let thema of getControls('fraktion').controls; let i = index">
				<label>
					<input type="checkbox" [formControlName]="i" /> {{ fraktion[i] | translateEnum : filterGroups.fraktion }}
				</label>
			</li>
		</ul>
	</label>
	<button class="primary" type="submit">Daten anzeigen</button>
</form>
