<app-header></app-header>
<main class="p-2">
	<app-data-selector></app-data-selector>
	<app-chart-data-table
		[dynamicColumns]="dataStore.displayedHeaders()"
		[dataSource]="dataStore.chartData()"
	></app-chart-data-table>
	<app-chart-picker></app-chart-picker>
	<app-chart-outlet></app-chart-outlet>
</main>
<!-- <ng-container *ngIf="barChart$ | async as barChart">
	<div class="p-4">
		<app-bar-chart [data]="barChart.data" [source]="barChart.source"></app-bar-chart>
	</div>
</ng-container>
<ng-container *ngIf="lineChart$ | async as lineChart">
	<div class="p-4">
		<app-line-chart [data]="lineChart.data" [source]="lineChart.source"></app-line-chart>
	</div>
</ng-container>
 -->
