<div class="p-10 shadow-inner bg-secondary rounded-2xl w-min">
	<caption class="text-2xl font-semibold">
		Vergleich der Gesetzesbeschlüsse zu den Themen "Bildung", "Klima, Umwelt und Energie" und "Familie und Generationen"
		in der Gesetzgebungsperiode XXVII (seit 2019)
	</caption>
	<svg id="lineChart" #svg></svg>
	<div class="flex flex-row justify-between">
		<a [href]="source" target="_blank">Quelle Anzeigen</a>
		<!-- <button (click)="downloadSvg(svg)">Statistik Herunterladen</button> -->
	</div>
</div>
