<label> {{ label }} </label>
<div>
  <div class="relative">
    <button type="button" (click)="openDropdown = !openDropdown">{{ label }}</button>
  </div>
  <ul [formArrayName]="formArrayName" class="absolute" [ngClass]="openDropdown ? 'block' : 'hidden'">
    @for (control of controls; track control; let i = $index) {
      <li>
        <label>
          <input type="checkbox" [formControlName]="i" />
          @if (translation) {
            <span>{{ options[i] | translateEnum : translation }}</span>
          } @else {
            <span>{{ options[i] }}</span>
          }
        </label>
      </li>
    }
  </ul>
</div>
